<a href="https://colab.research.google.com/github/antony816/Python-Basics/blob/main/Copy_of_Python_2_0_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x=10
y=20

In [ ]:
print (x+y)

30

In [ ]:
print (x-y)

-10

In [ ]:
print (x*y)

200

In [ ]:
print(type(x))

<class 'float'>

In [ ]:
x="Antony"

In [ ]:
Y="N J"

In [ ]:
print(x+" "+Y)

Antony N J

In [ ]:
A="India"
B="is"
C="my"
D="country"

In [ ]:
print(A+" "+B+" "+C+" "+D)

India is my country

In [ ]:
X="10"
Y="20"

In [ ]:
print (type(X))

<class 'str'>

In [ ]:
print (type(x))

<class 'str'>

In [ ]:
x=input ()

Anj

In [ ]:
print (type(x))

<class 'str'>

In [ ]:
x=int(input ("Enter a number"))

Enter a number50

In [ ]:
print (type(x))

<class 'int'>

In [ ]:
x=int(input ("Enter a mark"))
if x >50 :
    print("pass")

Enter a mark65
pass

In [ ]:
x=int(input ("Enter a mark"))
if x <50 :
    print("fail")

Enter a mark46
fail

In [ ]:
x=int(input ("Enter a mark"))
if x <50 : 
    print("fail")
if x >50 :
    print("pass")

Enter a mark55
pass

In [ ]:
x=int(input ("Enter a salary"))
if x <250000 :
    print ("not taxable")
if x >250000 :
    print ("taxable")

Enter a salary256645
taxable

In [ ]:
x=int(input ("Enter a salary"))
if x <250000 :
    print ("not taxable")
if x >250000 :
    print ("taxable")

Enter a salary120000
not taxable