<a href="https://colab.research.google.com/github/antony816/Python-Basics/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
x=["antony n j",11,18,"16-8-2004","aloor"]

In [14]:
x

['antony n j', 11, 18, '16-8-2004', 'aloor']

In [15]:
x[0]

'antony n j'

In [16]:
x[3]

'16-8-2004'

In [17]:
x.append("thrissur")

In [18]:
x

['antony n j', 11, 18, '16-8-2004', 'aloor', 'thrissur']

In [20]:
x.insert(1,"kerala")

In [32]:
x=int(input("enter a mark"))
if x< 50:
  print ("fail")
if x> 50 :
  print("pass")

enter a mark64
pass

In [21]:
x

['antony n j', 'kerala', 11, 18, '16-8-2004', 'aloor', 'thrissur']

In [40]:
x=["joe","roy","boy"]
print(x)
y=input("Name is ")
x.append(y)
print(x)

['joe', 'roy', 'boy']
Name is don
['joe', 'roy', 'boy', 'don']

In [41]:
x=("balu")

In [34]:
type(x)

str

In [45]:
x=["job","tom","beast"]
print(x)
y=input("names ")
x.insert(0,y)
print(x)

['job', 'tom', 'beast']
names bob
['bob', 'job', 'tom', 'beast']

In [53]:
x=["job","tom","beast"]
print(x)
y=input("names ")
z=int(input("position"))
x.insert(z,y)
print(x)

['job', 'tom', 'beast']
names abhy
position0
['abhy', 'job', 'tom', 'beast']